
body {
    direction: rtl;
    text-align: right;
}
/* my-wrapper div styles */
.my-wrapper{
    background-color: #F5F9E9;
    font-family: "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    width: 100%;
    height: 1000px;
}
/* navigation bar (menubar) styles */
.my-navbar {
    background-color: #336699;
    box-shadow: .1px .1px 5px #999;
    padding-top: 0;
    padding-bottom: 0;
}
.my-logo-link {
    margin-right: 15px;
}
.my-navbar-links {
    font-size: 18px;
    font-weight: 400;
    margin-right: 20%;
}

.my-nav-link {
    color: #F5F9E9;
}
.my-nav-link:hover {
    color: #fff;
}
/* these below styles create menubar links underline animation */
.my-nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}
li.active .my-nav-link::after {
    width: 100%;
}
.my-nav-link:hover::after {
    width: 100%;
    transition: width .3s;
}

/* body content part styles starts from here */
.my-content {
    margin-top: 60px;
}
/* these below are styles for text under menubar infront of web design image */
.my-header-article {
    position: absolute;
    width: 60%;
    padding: 100px 50px;
}
.my-header-article h1 {
    color: #336699;
}
.my-header-article p {
    color: #080708;
    font-size: 18px;
    margin-top: 20px;
}
/* these below styles are for web design image */
.my-header-img-col {
    padding: 0;
}
.my-header-image-div {
    background: url("../images/header-color.png") left no-repeat border-box;
    padding: 10px 0;
    width: 95%;
    position: relative;
    left: -45px;
}

.my-carousel-control:hover {
    background-color: rgba(70, 70, 70, 0.15);
}

#multi-item-carousel {
    position: relative;
    bottom: -60px;
}

.my-card {
    position: relative;
    top: 0;
    min-height: 557.33px;
    box-shadow: 0 10px 15px 0 rgba(42, 121, 124, 0.1);
    transition: box-shadow 0.3s ease-in-out, top 0.2s ease-in-out;
    -webkit-transition: box-shadow 0.3s ease-in-out, top 0.2s ease-in-out;
    -o-transition: box-shadow 0.3s ease-in-out, top 0.2s ease-in-out;
}

.my-card:hover {
    top: -10px;
    box-shadow: 0 15px 20px 0 rgba(42, 121, 124, 0.1);
}

.my-container-style-1 {
    margin-top: 54px;
    padding: 54px 100px;
    background-color: #F5F9E9;
    height: 730px
}

.my-card-text-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.my-container {
    margin-top: 100px;
}

.my-article-row {
    position: relative;
    top: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px #5f5f5f;
    border-radius: 10px;
    cursor: pointer;
    transition: top 0.2s ease-in-out;
}

.my-article-row:hover {
    top: -2px;
}

.my-article-row .col-2 {
    padding-right: 0;
}

.my-article-img {
    width: 180px;
    height: 100px;
    border-radius: 0 10px 10px 0;
}

.my-article-title {
    font-size: 16px;
    color: #5f5f5f;
}

.my-article-description {
    font-size: 14px;
    color: #5f5f5f;
}

.my-article-text {
    font-size: 18px;
    margin-bottom: 10px;
}

.my-footer {
    background-color: #336699;
    color: #fff;
    padding: 50px 20px;
}

.my-footer a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.my-footer hr {
    border-color: #fff;
}

.my-service-head-container {
    min-height: 480px;
    background: url("../images/services-head.jpg");
    color: #fff;
}

.my-service-head-container h6 {
    font-size: 20px;
}

.my-service-head-container h1 {
    font-size: 64px;
}

.my-service-head-container p {
    font-size: 28px;
}

.my-service-head-container a {
    color: #fff;
    border: 1px solid #fff;
}

.my-service-head-container a:hover {
    background-color: #336699;
    border-color: #336699;
    color: #fff;
}

.my-working-container p {
    font-size: 18px;
}

.my-card-icon {
    width: 70px;
    margin: 30px auto;
    
}

.my-btn-outlined {
    border: 2px solid #336699;
    color:#336699;
    background-color: transparent;
}

.my-btn-outlined:hover {
    border: 2px solid #336699;
    color:#fff;
    background-color: #336699;
}

.my-btn-primary {
    border: 2px solid #336699;
    color:#fff;
    background-color: #336699;
}

.my-btn-primary:hover {
    border: 2px solid #254b70;
    color:#fff;
    background-color: #254b70;
}

.my-card:hover .my-btn-outlined {
    border: 2px solid #336699;
    color:#fff;
    background-color: #336699;
} 

.my-services-card {
    border-top: 7px solid #336699;
    min-height: 599px;
    box-shadow: 0 2px 4px 0 #fafafa;
}

.my-services-card:hover {
    box-shadow: 0 4px 8px 0 #fafafa;
}

.my-services-card p {
    font-size: 20px;
}

.my-services-container {
    padding-left: 100px;
    padding-right: 100px;
    background: url("../images/services-bg-cropped-2.jpg") center no-repeat border-box;
    background-attachment: fixed;
    background-size: cover;
}

.my-services-container h1 {
    color: #fff;
}

.my-compare-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.my-compare-lead-p {
    margin: 10px 130px;
    font-size: 20px;
}

.my-compare-row {
    margin-left: 175px;
    margin-right: 175px;
}

.my-compare-row-body {
    box-shadow: 0 2px 4px 0 #afafaf;
}

.my-compare-col4 {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.my-compare-col4 img {
    width: 40px;
    height: 40px;
    margin: 20px;
}

.my-compare-col4 p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

.my-compare-h5 {
    color: #fff;
    padding: 20px;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
}

.my-compare-h5.my-gray {
    background-color: #5f5f5f;
    border-radius: 0 10px 0 0;
}

.my-compare-h5.my-primary {
    background-color: #336699;
    border-radius: 10px 0 0 0;
}

.my-about-head-title {
    font-size: 26px;
    font-weight: bold;

}

.my-about-head-hr {
    border-width: 20px;
    color: #999;
}

.my-about-head a {
    color: #080708;
    text-decoration: none;
}

.my-about-first-title {
    margin-left: 80px;
}

.my-about-first-article-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 50px;
}

.my-about-written-by {
    font-size: 18px;
}

.my-box-shadow {
    box-shadow: 0 1px 1px 0 #999;
    border-radius: 10px;
}

.my-blog-text p {
    font-size: 21px;
}

.my-blog-link {
    color: #080708;
    text-decoration: none;
}

.my-blog-link:hover {
    color: #080708;
    text-decoration: none;
}

.my-about-head-container {
    min-height: 480px;
    background: url("../images/New to IMPACT Hero Full.jpg");
    color: #fff;
}

.my-contact-us {
    padding-top: 40px;
    padding-bottom: 40px;
}

.my-contact-us h1 {
    font-size: 48px;
}

.my-contact-us p {
    font-size: 26px;
}

.my-contact-row {
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 2px 4px 0 #5f5f5f;
    border-radius: 10px;
}

.my-contact-row p {
    font-size: 20px;
}