*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    direction: rtl;
    text-align: right;
  }

/* my-wrapper div styles */
.my-wrapper{
    background-color: #F5F9E9;
    font-family: "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    width: 100%;
    height: 1000px;
}

.container {
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  .text-center {
    text-align: center !important;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  .bg-white {
      background-color: #fff;
  }

  .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .btn:hover, .btn:focus {
    text-decoration: none;
  }
  
  .btn-block {
    display: block;
    width: 100%;
  }

/* navigation bar (menubar) styles */
.my-navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    display: block;
    align-items: center;
    background-color: #336699;
    box-shadow: .1px .1px 5px #999;
    padding-top: 0;
    padding-bottom: 0;
}
.my-logo-link {
    margin-right: 15px;
}
.my-navbar-links {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    margin: 20px 20% 0 0;
    list-style-type: none;
}

.my-navbar-links li {
    display: inline-block;
}

.my-nav-link {
    color: #F5F9E9;
    padding: 8px;
    text-decoration: none;
}
.my-nav-link:hover {
    text-decoration: none;
    color: #fff;
}
/* these below styles create menubar links underline animation */
.my-nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}
li.active .my-nav-link::after {
    width: 100%;
}
.my-nav-link:hover::after {
    width: 100%;
    transition: width .3s;
}

/* body content part styles starts from here */
.my-content {
    margin-top: 60px;
}
/* these below are styles for text under menubar infront of web design image */
.my-header-article {
    position: absolute;
    top: 100px;
    width: 60%;
    padding: 100px 50px;
}
.my-header-article h1 {
    color: #336699;
}
.my-header-article p {
    color: #080708;
    font-size: 18px;
    margin-top: 20px;
}
/* these below styles are for web design image */
.my-header-img-col {
    width: 65%;
    margin-right: 36%;
    padding: 0;
}
.my-header-image-div {
    background: url("../images/header-color.png") left no-repeat border-box;
    padding: 10px 0;
    width: 95%;
    position: relative;
    left: -45px;
}

.column-4 {
    position: relative;
    max-width: 33%;
    display: inline-block;
    margin: 0;
    padding: 10px 15px;
    text-align: right;

}

.my-card {
    position: relative;
    top: 0;
    min-height: 557.33px;
    box-shadow: 0 10px 15px 0 rgba(42, 121, 124, 0.1);
    transition: box-shadow 0.3s ease-in-out, top 0.2s ease-in-out;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-bottom: 16px;
}

.my-card:hover {
    top: -10px;
    box-shadow: 0 15px 20px 0 rgba(42, 121, 124, 0.1);
}

.my-container-style-1 {
    margin-top: 54px;
    padding: 54px 100px;
    background-color: #F5F9E9;
    height: 730px
}

.customer-comments {
    text-align: center;
}

.customer-comments .column-4 {
    position: relative;
    top: 0;
    min-height: 616px;
}

.customer-comments .column-4 .my-card img {
    width: 100%;
    height: 231px;
}

.customer-comments .column-4 .my-card .my-card-text-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.my-container {
    margin-top: 100px;
}

.my-article-row {
    position: relative;
    top: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px #5f5f5f;
    border-radius: 10px;
    cursor: pointer;
    transition: top 0.2s ease-in-out;
}

.my-article-img-div {
    max-width: 16.6%;
    display: inline-block;
}

.my-article-title-div {
    position: relative;
    top: -5px;
    max-width: 75%;
    display: inline-block;
}

.my-article-row:hover {
    top: -2px;
}

.my-article-row .col-2 {
    padding-right: 0;
}

.my-article-img {
    width: 180px;
    height: 100px;
    border-radius: 0 10px 10px 0;
}

.my-article-title {
    font-size: 16px;
    color: #5f5f5f;
}

.my-article-description {
    font-size: 14px;
    color: #5f5f5f;
}

.my-article-text {
    font-size: 18px;
    margin-bottom: 5px;
}

.my-footer {
    background-color: #336699;
    color: #fff;
    padding: 50px 20px;
}

.my-footer a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.my-footer hr {
    border-color: #fff;
}

.column-3 {
    max-width: 25%;
    display: inline-block;
    padding: 0 30px;
    text-align: right;
}

.my-service-head-container {
    min-height: 440px;
    background: url("../images/services-head.jpg");
    color: #fff;
    background-attachment: fixed;
}

.my-service-head-container h6 {
    font-size: 20px;
}

.my-service-head-container h1 {
    font-size: 64px;
}

.my-service-head-container p {
    font-size: 28px;
    padding: 0 100px;
}

.my-service-head-btn-div {
    width: 25%;
    display: inline-block;
}

.my-service-head-container a {
    color: #fff;
    border: 1px solid #fff;
}

.my-service-head-container a:hover {
    background-color: #336699;
    border-color: #336699;
    color: #fff;
}

.my-working-container {
    padding: 40px 0;
    color: #000;
}

.my-working-container p {
    font-size: 18px;
}

.column-6 {
    position: relative;
    max-width: 50%;
    display: inline-block;
    margin: 0;
    padding: 10px 15px;
    text-align: right;
}

.column-5 {
    position: relative;
    max-width: 41.66%;
    display: inline-block;
    margin: 0;
    padding: 10px 15px;
    text-align: right;
}

.column-1 {
    width: 8.33%;
    display: inline-block;
}

.my-values img {
    width: 10%;
}

.my-values span {
    position: relative;
    top: -15px;
    width: 50%;
    font-size: 18px;

}



.my-card-icon {
    width: 70px;
    margin: 30px auto;
    
}

.my-btn-outlined {
    border: 2px solid #336699;
    color:#336699;
    background-color: transparent;
}

.my-btn-outlined:hover {
    border: 2px solid #336699;
    color:#fff;
    background-color: #336699;
}

.my-btn-primary {
    border: 2px solid #336699;
    color:#fff;
    background-color: #336699;
}

.my-btn-primary:hover {
    border: 2px solid #254b70;
    color:#fff;
    background-color: #254b70;
}

.my-card:hover .my-btn-outlined {
    border: 2px solid #336699;
    color:#fff;
    background-color: #336699;
} 

.my-services-card {
    border-top: 7px solid #336699;
    min-height: 599px;
    box-shadow: 0 2px 4px 0 #fafafa;
    margin-bottom: 16px;
    text-align: center;
}

.my-services-card:hover {
    box-shadow: 0 4px 8px 0 #fafafa;
}

.my-services-card p {
    font-size: 20px;
}

.my-services-container {
    padding-left: 100px;
    padding-right: 100px;
    background: url("../images/services-bg-cropped-2.jpg") center no-repeat border-box;
    background-attachment: fixed;
    background-size: cover;
}

.my-services-container h1 {
    color: #fff;
}

.my-box-shadow {
    box-shadow: 0 1px 1px 0 #999;
    border-radius: 10px;
}

.my-blog-text p {
    font-size: 21px;
}

.my-blog-link {
    color: #080708;
    text-decoration: none;
}

.my-blog-link:hover {
    color: #080708;
    text-decoration: none;
}

.my-about-head-container {
    min-height: 480px;
    background: url("../images/New to IMPACT Hero Full.jpg");
    color: #fff;
}

.my-contact-us {
    padding-top: 40px;
    padding-bottom: 40px;
}

.my-contact-us h1 {
    font-size: 48px;
}

.my-contact-us p {
    font-size: 26px;
}

.my-contact-row {
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 2px 4px 0 #5f5f5f;
    border-radius: 10px;
}

.my-contact-row p {
    font-size: 20px;
}

.my-form-control-div {
    display: inline-block;
    width: 45%;
    padding: 10px 5px;
}

.my-form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }